<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>IOS 9 ui kit</title>
    <link rel="stylesheet" type="text/css" href="./assets/pages.css">
</head>

<body>
    <header>
      <h1>IOS 9 ui kit</h1>
    </header>
    <div class="pages-wrap">
      <h2>All Page</h2>
      <div id="pages" class="pages-list">
        <div class="pages-item" v-repeat="pages">
          <p>Page Name: {{name}}</p>
          <p>Artboards: {{artboards}}</p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.10/vue.min.js"></script>
    <script type="text/javascript" src="./pages.js"></script>
    <script type="text/javascript">
    new Vue({
        el: '#pages',
        data: {
          pages: pagesData
        }
    })
    </script>
</body>

</html>
